HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
test/
/src/main/java/com/manager/revenuemanager/initialize/ConvertidorCOP.java
/src/main/java/com/manager/revenuemanager/initialize/doc.java
/src/main/resources/supabase.properties
/application.properties
src/main/java/com/manager/rvenuemanager/supabase/SupabaseService.java
/src/main/java/com/manager/revenuemanager/controllerweb/DetailPage.java
/src/main/java/com/manager/revenuemanager/supabase/SupabaseService.java
/src/main/java/com/manager/revenuemanager/supabase/Supabase.java
/src/main/java/com/manager/revenuemanager/config/RedisConfig.java
