<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frag::head"></head>
<body>
<header th:replace="frag::navbar"></header>
<section class="container">
  <h1 class="bg-warning">Movements</h1>
  <p>Aqui se muestran sus gastos y entradas de dinero.</p>
  <div class="card" style="width: 18rem;">
    <h2 th:if="${details.size()==0}">Lista de Detalles Vacia</h2>
    <ul th:if="${details.size()> 0}"  class="list-group list-group-flush">

        <li class="list-group-item d-flex" th:each="detail : ${details}" style="justify-content:space-around;">
            <span th:text="${detail.description}" style="border-bottom: 2px solid blue"></span>
            <span th:text="${detail.amountHistory}" style="border-bottom: 2px solid yellow; color: green;"></span>

            <form th:action="@{/items/delete/{id}(id=${detail.deId})}" method="post" style="display:inline; margin-left: 1rem;">
                <input type="hidden" name="_method" value="delete"/> <!-- Para enviar método DELETE -->
                <button  type="submit" class="btn-close bg-warning" aria-label="Close"></button>
            </form>
        </li>


    </ul>
  </div>
</section>
<footer th:replace="frag::footer"></footer>
</body>
</html>